<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654847572786-sngdll43arr95lo76f0oisai02puullj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654847572786-sngdll43arr95lo76f0oisai02puullj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>654847572786-13nq5njrgbtmccnsamdqll0v6r68h451.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiqiZ45QCNNpZZb2hVPGqKPwtauS2SWLw</string>
	<key>GCM_SENDER_ID</key>
	<string>654847572786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-5bd58</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-5bd58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654847572786:ios:03971d7a249abbffcf752b</string>
</dict>
</plist>